# Döp om filen till .env, redigera secrets och kör "source <path>/.env" 

# ==============================
# Terraform / Proxmox BPG provider
# Se: https://github.com/bpg/terraform-provider-proxmox
# ==============================
# Definiera en gång
PROXMOX_HOST="[ip]:8006"
PROXMOX_TOKEN_ID="[user]@[node]!terraform-token"
PROXMOX_TOKEN_SECRET="[s3cre7-Tok3n]"

# Terraform (bpg/proxmox)
export PROXMOX_VE_ENDPOINT="https://$PROXMOX_HOST"
export PROXMOX_VE_API_TOKEN="$PROXMOX_TOKEN_ID=$PROXMOX_TOKEN_SECRET"
export PROXMOX_VE_INSECURE=true

# Packer
export PKR_VAR_proxmox_url="https://$PROXMOX_HOST/api2/json"
export PKR_VAR_proxmox_token_id="$PROXMOX_TOKEN_ID"
export PKR_VAR_proxmox_token_secret="$PROXMOX_TOKEN_SECRET"
